<div class="user-prevew">
    <div class="user-content">
        <div class="user-col1">
            <p><strong>id: </strong></p>      
            <p><strong>name: </strong></p>
            <p><strong>username: </strong></p> 
        </div>
        <div class="user-col2">
            <div class="user-info">
                <p>{{user.id}}</p>      
                <p>{{user.name}} </p>
                <p>{{user.username}}</p>   
                <button type="button" 
                class="btn btn-primary btn-lg user-posts-btn"
                (click)='showPosts()'>{{btnPostsTitle}}

                    <svg *ngIf='postToggle; else elseArrow' class="arrow">
                        <use xlink:href='#arrow-up'></use>
                    </svg>
                    <ng-template #elseArrow>                    
                        <svg class="arrow">
                            <use xlink:href='#arrow-down'></use>
                         </svg>
                </ng-template>

                </button>
            </div>
            <svg class="users-icon">
                <use xlink:href='#users'></use>
            </svg>
        </div>
    </div>
    <div class="user-posts" *ngIf='postToggle'>  
        <app-full-post  [post]='iter' *ngFor='let iter of userPosts'></app-full-post>
    </div>
    <div class="user-btn">
        <button type="button" class="btn btn-primary btn-lg" (click)='goToUserDetails(user.id)'>User details</button>
    </div>
    
</div>

<router-outlet></router-outlet>