<!-- SVG -->
<svg display='none'>
    <symbol viewBox="0 0 284.929 284.929" id="arrow-down">
        <g>
            <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441
                L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082
                c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647
                c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
        </g>
    </symbol>
</svg>  
<!-- SVG -->
<div class="user-prevew">
    <div class="user-content">
        <div class="user-col1">
            <p><strong>id: </strong></p>      
            <p><strong>name: </strong></p>
            <p><strong>username: </strong></p> 
        </div>
        <div class="user-col2">
            <div class="user-info">
                <p>{{user.id}}</p>      
                <p>{{user.name}} </p>
                <p>{{user.username}}</p>   
                <button type="button" 
                class="btn btn-primary btn-lg user-posts-btn"
                (click)='showPosts()'>{{btnTitle}}

                    <svg class="arrow-down">
                        <use xlink:href='#arrow-down'></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="user-posts" *ngIf='postToggle'>  
        <app-full-post  [post]='iter' *ngFor='let iter of userPosts'></app-full-post>
    </div>
    <div class="user-btn">
        <button type="button" class="btn btn-primary btn-lg" (click)='goToUserDetails(user.id)'>User details</button>
    </div>
</div>

<router-outlet></router-outlet>