.header-nav{
    background-color: rgb(13, 6, 20);
    padding: 1rem;
}
.nav-item{
    margin: 2px;
}
.nav-item:hover{
    background-color:cornsilk;
    outline: 1px solid black;
    outline-offset: 1px;
}
.nav-item:hover .home{
    fill: black;
}
.nav-item:hover a.nav-link{
    fill: black;
}

a.nav-link{
    color : cornsilk;
}
a.nav-link:hover{
    color : black;
}
.active-item{
    background-color:rgba(230, 255, 220, 0.637);
    outline: 1px solid black;
    outline-offset: 1px;
    color: black;
    fill: black;
}
.home-item{
    position: relative;
    padding-left: 1rem;
}
.home{
    fill: white;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 29%;
    left: 15%
}
