<header>
  <nav class="header-nav">
    <ul class="nav nav-pills" (click)='setActiveNav($event)'>
      <li class="nav-item" >
        <a class="nav-link" routerLink='home'>Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink='posts'>Posts</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink='comments'>Comments</a>
      </li>
    </ul>
  </nav>
</header>

  <router-outlet></router-outlet>
 