.post-wrap{
    margin: 1rem;
    background-color:#80ac9d;
    border: 1px solid black; 
    padding: 1rem;
}
.post-content{
    display: flex;
    font-weight: 600;
}
.col1{
    border: 1px solid black;
    width: 10%;
    padding: 1rem;
}
.col2{
    margin-left: 1rem;
    border: 1px solid black;
    width: 90%;
    padding: 1rem;
}
.arrow{
    width: 2rem;
    height: 1rem;
    fill: white;
}
.user-btn{
    margin: .7rem;
    padding: .3rem;
    display: flex;
    align-items: center;
    width: 25%;
}
.btn{
    margin-right: 1rem;
    width: 11rem;
}
.user-posts-btn{
    font-size: .7rem;
    padding-right: .5rem;
    background-color:rgb(122, 13, 13)
}
.user-posts-btn:hover{
    background-color:rgb(209, 31, 31)
}